/* *{
  border-radius: 2px;
} */
.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge legacy */
  -webkit-user-drag: none;   /* Safari */
}