/* *{
  border-radius: 2px;
} */
.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge legacy */
  -webkit-user-drag: none;   /* Safari */
}

.spin{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%{
    
  }
  50%{
    opacity: 0.5;
    background-color: #ffffff;
  }
  100%{
    transform: rotate(360deg);
  }
}