.boardContainer {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-template-areas:
    "homeB homeB homeB homeB homeB homeB box25 box26 box27 homeY homeY homeY homeY homeY homeY"
    "homeB homeB homeB homeB homeB homeB box24 trackY1 box28 homeY homeY homeY homeY homeY homeY"
    "homeB homeB homeB homeB homeB homeB box23 trackY2 box29 homeY homeY homeY homeY homeY homeY"
    "homeB homeB homeB homeB homeB homeB box22 trackY3 box30 homeY homeY homeY homeY homeY homeY"
    "homeB homeB homeB homeB homeB homeB box21 trackY4 box31 homeY homeY homeY homeY homeY homeY"
    "homeB homeB homeB homeB homeB homeB box20 trackY5 box32 homeY homeY homeY homeY homeY homeY"
    "box14 box15 box16 box17 box18 box19 finish finish finish box33 box34 box35 box36 box37 box38"
    "box13 trackB1 trackB2 trackB3 trackB4 trackB5 finish finish finish trackG5 trackG4 trackG3 trackG2 trackG1 box39"
    "box12 box11 box10 box9 box8 box7 finish finish finish box45 box44 box43 box42 box41 box40"
    "homeR homeR homeR homeR homeR homeR box6 trackR5 box46 homeG homeG homeG homeG homeG homeG"
    "homeR homeR homeR homeR homeR homeR box5 trackR4 box47 homeG homeG homeG homeG homeG homeG"
    "homeR homeR homeR homeR homeR homeR box4 trackR3 box48 homeG homeG homeG homeG homeG homeG"
    "homeR homeR homeR homeR homeR homeR box3 trackR2 box49 homeG homeG homeG homeG homeG homeG"
    "homeR homeR homeR homeR homeR homeR box2 trackR1 box50 homeG homeG homeG homeG homeG homeG"
    "homeR homeR homeR homeR homeR homeR box1 box52 box51 homeG homeG homeG homeG homeG homeG";
}

.cell {
  width: 100%;
  height: 100%;
  /* border-radius: 3px; */
}

.cell {
  position: relative;
}

/* shared pseudo layer */
.cell::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--bg-size, 70%);
  transform: rotate(var(--bg-rotate, 0deg));
  pointer-events: none;
}

/* safe star */
.cell.safe::before {
  background-image: var(--bg-img);
}

/* home pointer arrow */
.cell.home-pointer::before {
  background-image: var(--bg-img);
}



.box1 { grid-area: box1; }
.box2 { grid-area: box2; background-color: var(--color); background-image: '../../public/safeStar.png';}
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }
.box6 { grid-area: box6; }
.box7 { grid-area: box7; }
.box8 { grid-area: box8; }
.box9 { grid-area: box9; }
.box10 { grid-area: box10; }
.box11 { grid-area: box11; }
.box12 { grid-area: box12; }
.box13 { grid-area: box13; }
.box14 { grid-area: box14; }
.box15 { grid-area: box15; background-color: var(--color); background-image: '../../public/safeStar.png';}
.box16 { grid-area: box16; }
.box17 { grid-area: box17; }
.box18 { grid-area: box18; }
.box19 { grid-area: box19; }
.box20 { grid-area: box20; }
.box21 { grid-area: box21; }
.box22 { grid-area: box22; }
.box23 { grid-area: box23; }
.box24 { grid-area: box24; }
.box25 { grid-area: box25; }
.box26 { grid-area: box26; }
.box27 { grid-area: box27; }
.box28 { grid-area: box28; background-color: var(--color); background-image: '../../public/safeStar.png';}
.box29 { grid-area: box29; }
.box30 { grid-area: box30; }
.box31 { grid-area: box31; }
.box32 { grid-area: box32; }
.box33 { grid-area: box33; }
.box34 { grid-area: box34; }
.box35 { grid-area: box35; }
.box36 { grid-area: box36; }
.box37 { grid-area: box37; }
.box38 { grid-area: box38; }
.box39 { grid-area: box39; }
.box40 { grid-area: box40; }
.box41 { grid-area: box41; background-color: var(--color); background-image: '../../public/safeStar.png';}
.box42 { grid-area: box42; }
.box43 { grid-area: box43; }
.box44 { grid-area: box44; }
.box45 { grid-area: box45; }
.box46 { grid-area: box46; }
.box47 { grid-area: box47; }
.box48 { grid-area: box48; }
.box49 { grid-area: box49; }
.box50 { grid-area: box50; }
.box51 { grid-area: box51; }
.box52 { grid-area: box52; }

.trackR1 { grid-area: trackR1; }
.trackR2 { grid-area: trackR2; }
.trackR3 { grid-area: trackR3; }
.trackR4 { grid-area: trackR4; }
.trackR5 { grid-area: trackR5; }

.trackB1 { grid-area: trackB1; }
.trackB2 { grid-area: trackB2; }
.trackB3 { grid-area: trackB3; }
.trackB4 { grid-area: trackB4; }
.trackB5 { grid-area: trackB5; }

.trackY1 { grid-area: trackY1; }
.trackY2 { grid-area: trackY2; }
.trackY3 { grid-area: trackY3; }
.trackY4 { grid-area: trackY4; }
.trackY5 { grid-area: trackY5; }

.trackG1 { grid-area: trackG1; }
.trackG2 { grid-area: trackG2; }
.trackG3 { grid-area: trackG3; }
.trackG4 { grid-area: trackG4; }
.trackG5 { grid-area: trackG5; }

.homeR { grid-area: homeR; }
.homeB { grid-area: homeB; }
.homeY { grid-area: homeY; }
.homeG { grid-area: homeG; }

.finish { grid-area: finish;}


.bg-R { background: var(--color); }
.bg-B { background: var(--color); }
.bg-Y { background: var(--color); }
.bg-G { background: var(--color); }

.homeR1 {grid-area: homeR1; }
.homeR2 {grid-area: homeR2; }
.homeR3 {grid-area: homeR3; }
.homeR4 {grid-area: homeR4; }

.homeB1 {grid-area: homeB1; }
.homeB2 {grid-area: homeB2; }
.homeB3 {grid-area: homeB3; }
.homeB4 {grid-area: homeB4; }

.homeY1 {grid-area: homeY1; }
.homeY2 {grid-area: homeY2; }
.homeY3 {grid-area: homeY3; }
.homeY4 {grid-area: homeY4; }

.homeG1 {grid-area: homeG1; }
.homeG2 {grid-area: homeG2; }
.homeG3 {grid-area: homeG3; }
.homeG4 {grid-area: homeG4; }